:root {
  --navy-blue-color: #2e2f42;
  --main-text-color: #434455;
  --iris-color: #4d5ae5;
  --active-color: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.list {
  list-style: none;
}
.link-none {
  text-decoration: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue-color);
}
.logo span {
  color: var(--iris-color);
}

.menu-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.item-link {
  color: var(--navy-blue-color);
}
.item-link:hover,
.item-link:focus {
  color: var(--active-color);
}
.contact-link {
  font-style: normal;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--active-color);
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;

  /* color: #ffffff; */
}
.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;

  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;

  /* position: absolute;
  width: 169px;
  height: 56px;
  left: 636px;
  top: 428px; */

  /* IRIS */

  background: var(--iris-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
.hero-btn:hover,
.hero-btn:focus {
  background: var(--active-color);
}

.success-factors-title,
.team-title,
.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: var(--navy-blue-color);
}
.success-factors-text,
.team-text,
.footer-text,
.card-text {
  color: var(--main-text-color);
}
.doings-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  /* text-align: center; */

  color: var(--navy-blue-color);
}

.footer-logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  /* display: flex;
   align-items: center; */
  letter-spacing: 0.03em;
  /* text-transform: uppercase; */
  /* color: #f4f4fd; */
  color: var(--main-text-color);
}
.footer-text {
  /* color: #e7e9fc; */
  color: var(--main-text-color);
}
.filter-btn button {
  background: #f4f4fd;
  color: var(--iris-color);
}
.filter-btn button:hover,
.filter-btn button:focus {
  background: var(--active-color);
  color: #fff;
}
